# server port
PORT=

# better-auth variables, see documentations for details https://better-auth.com/docs/installation
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# database variables
DB_DATABASE=
DB_HOST=
DB_USER=
DB_PASSWORD=
